<!DOCTYPE html>
<html>
	<head>
			<%- include ('./partials/head') %>
	</head>

	<div class="container-fluid ">

		<header>
			<%- include ('./partials/header') %>
		</header>

		<body>

			<div>
			<% for( let i= 0; i<patients.length; i++){ %>

			<!-- Displaying each movie title with its specific link to display details -->
			<h4>
				<a id="title" href="/patient/<%= patients[i]._id %>"> <%= patients[i].name %> </a>
			</h4>


			<h7>Email: <%= patients[i].email %> </h7>

			<hr>
			<% } %>
		
		</body>
		<footer>
		</footer>
		
	</div>
</html>